// can del
.file-inline-decoration {
  cursor: pointer;
  text-decoration: underline;
  background: rgb(77, 112, 151);
}

.alert-space,
.full-space {
  width: 100%;
  height: 100%;

  > *:last-child {
    flex-grow: 1;
  }
}
.full-space {
  flex-grow: 1;
}

.code-change-tag-list {
  margin-left: 10px;
}

.tabs-space {
  width: 100%;
  height: 100%;

  .ant-tabs-content,
  .ant-tabs-tabpane {
    width: 100%;
    height: 100%;
  }
}

.ant-alert-warning {
  border: none;
}
