.dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filePath {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaedf1;
  padding: 5px 10px;
  border-radius: 10px;
}

.arrow {
  position: relative;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  color: #2994ff;
}
