.card {
  :global {
    .ant-card-body {
      padding: 0;
    }

    .ant-collapse {
      border-radius: 0;
      border: 0;
    }

    .ant-collapse-content {
      border-radius: 0 !important;
    }
  }
}

.container {
  margin-top: -4px;
  height: 100%;
}

.title {
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.labelTitle {
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.labelDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
