.title {
  display: flex;
  justify-content: space-between;
}

.description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-right: 5px;
}

:global {
  .rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
    cursor: default;
  }
}

.unit {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}
