.title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  position: relative;
  top: -10px;
}

.column {
  margin-bottom: 14px;
}

.description {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-right: 5px;
  color: #000000;

  @media (max-width: 1500px) {
    font-size: 16px;
  }
}

.unit {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.treeContainer {
  display: flex;

  .line {
    border-bottom: 1px dashed #e5e6eb;
    flex: 1;
    transform: translateY(-45%);
    margin: 0 15px 0 10px;
  }

  .treeTitle {
    word-wrap: break-word;
    word-break: break-all;
    flex-wrap: wrap;
  }

  .icon {
    font-size: 16px;
  }

  .tag {
    height: 23px;
  }
}

.label {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000a6;
}
