.container {
  height: 40px;
  padding: 10px 20px 10px 5px;
  margin: 10px 0 20px 0;
  font-size: 14px;

  :global(.ant-alert-message) {
    display: flex;
    align-items: center;
  }

  .icon {
    margin: 0 5px 0 10px;
    font-size: 18px;
    margin: 0 5px;
  }

  .description {
    margin-right: 5px;
    font-weight: 400;
    line-height: 20px;
  }

  .data {
    font-weight: 500;
    line-height: 32px;
  }
}
