.projectOverall {
  :global(.ant-descriptions-item-label),
  :global(.ant-descriptions-item-content) {
    font-size: 13px;
  }

  :global(.ant-descriptions-item-label) {
    color: var(--text-color-secondary);
  }

  :global(.ant-descriptions-item-content) {
    color: var(--text-color);
    font-variant-numeric: tabular-nums;
  }

  :global(.ant-descriptions-item) {
    padding-bottom: 10px !important;
  }
}

.bundleOverall {
  :global(.ant-descriptions-item-label),
  :global(.ant-descriptions-item-content) {
    font-size: 13px;
  }

  :global(.ant-descriptions-item-label) {
    color: var(--text-color-secondary);
  }

  :global(.ant-descriptions-item-content) {
    color: var(--text-color);
    font-variant-numeric: tabular-nums;
  }

  :global(.ant-descriptions-item) {
    padding-bottom: 0px !important;
  }
}
