.projectOverall {
  :global(.ant-descriptions-item-label),
  :global(.ant-descriptions-item-content) {
    font-size: 13px;
    color: #000000a6;
  }

  :global(.ant-descriptions-item) {
    padding-bottom: 10px !important;
  }
}

.bundleOverall {
  :global(.ant-descriptions-item-label),
  :global(.ant-descriptions-item-content) {
    font-size: 13px;
    color: #000000a6;
  }

  :global(.ant-descriptions-item) {
    padding-bottom: 0px !important;
  }
}
