.container {
  width: 100%;
  display: flex;
  background: #f6f8fa;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  white-space: nowrap;

  .content {
    flex: 1;

    .title {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #000000a6;
    }

    .description {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }
  }
}
