.assets {
  :global {
    .rc-tree-indent-unit {
      width: 22px;
    }

    .rc-tree-treenode {
      line-height: 30px !important;
    }

    .rc-tree-treenode:not(.rc-tree-treenode-switcher-open):not(
        .rc-tree-treenode-switcher-close
      ) {
      .rc-tree-switcher {
        position: relative;
        bottom: 8px;
      }

      .rc-tree-node-content-wrapper {
        font-size: 14px;
      }

      .file-icon {
        padding: 10px 0 0 0;
        margin-left: 0;
      }
    }
  }

  .assetBox {
    display: flex;
    flex-direction: row;

    .fileText {
      margin-right: 4px;
    }
  }
}

.bundle-tree {
  display: flex;

  :global {
    span.ant-tag {
      margin: none;
      margin-inline-end: 0px;
    }
  }
}

.box {
  display: flex;
  height: 30px;
  width: 100%;

  .keyword {
    flex: 0 0 auto;
    padding-right: 5;
  }
}

.divider {
  border-color: rgba(0, 0, 0, 0.12);
  position: relative;
  bottom: 20%;
}

.dividerDiv {
  flex-grow: 1;
  margin: 0 10px;
  bottom: 10%;
  position: relative;
}

.assetsTag {
  height: 30px;

  :global {
    .ant-divider-vertical {
      margin-inline: 0;
    }
  }
}

.bundle {
  :global {
    font-size: 14px;

    .rc-tree-node-content-wrapper {
      // width: 100%;
      font-size: 14px;
    }
    .file-icon {
      margin-left: 0;
    }

    .ant-tree-indent-unit {
      width: 10px;
    }

    .ant-tree-iconEle {
      margin-right: 2px;
    }
  }
}

.bundle-size-card {
  .ant-tabs-tab {
    margin-right: 20px;
  }
}

.modal {
  :global {
    .ant-input-affix-wrapper {
      padding: 4px 5px;
      width: 490px;
    }
  }
}

.search-btn {
  color: white;

  > span {
    position: relative;
  }

  &::before {
    content: '';
    background: linear-gradient(135deg, #6253e1, #04befe);
    position: absolute;
    inset: -1px;
    opacity: 1;
    transition: all 0.3s;
    border-radius: inherit;
  }

  &:hover::before {
    opacity: 0;
  }
}

.search-modal-list {
  :global {
    .ant-spin-container {
      overflow: auto;
      max-height: 30rem;
    }
  }
}
