$treePrefixCls: 'rc-tree';
$treeNodePrefixCls: '#{$treePrefixCls}-treenode';

.#{$treePrefixCls} {
  margin: 0;
  border: 1px solid transparent;

  .#{$treeNodePrefixCls} {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 24px;
    white-space: nowrap;
    list-style: none;
    outline: 0;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    .#{$treePrefixCls}-node-content-wrapper {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0 4px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.85);
      box-sizing: border-box;
      text-decoration: none;
      vertical-align: top;
      cursor: pointer;
    }

    &-child-tree {
      display: none;
      &-open {
        display: block;
      }
    }

    &-treenode-disabled > span:not(.#{$treePrefixCls}-switcher),
    > a,
    > a span {
      color: #767676;
      cursor: not-allowed;
    }

    &-treenode-selected {
      background: rgba(5, 145, 255, 0.3);
      border-radius: 4px;
      // &-node-selected
    }

    &-title {
      display: inline-block;
    }

    &-indent {
      display: inline-block;
      height: 0;
      vertical-align: bottom;
    }
    &-indent-unit {
      display: inline-block;
      width: 14px;
    }
  }
}

.file-tree-switcher-arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;

  &-expand {
    transform: rotate(90deg);
  }
}

.file-icon {
  display: inline-block;
  padding: 2px 0;
  margin-left: 8px;
}
