$prefixCls: 'module-analyze';

.#{$prefixCls}-file-tree {
  width: '100%';
  min-height: 50em;

  .#{$prefixCls}-empty {
    margin-top: 20%;
  }
}

.module-analyze-box {
  display: flex;
  flex-direction: column;
}

.file-tree-com-titles-box {
  line-height: 30px;
}
