.loaderAnalysis {
  :global {
    .rc-tree {
      min-width: 900px;

      .rc-tree-treenode {
        display: flex;
        align-items: center;
        min-height: 30px;

        .rc-tree-indent {
          display: flex;
          flex-shrink: 0;
          flex-grow: 0;
        }

        .rc-tree-switcher {
          flex-shrink: 0;
          flex-grow: 0;
          cursor: pointer;

          .file-icon {
            display: block;
            margin-left: 8px;
            line-height: 14px;
          }
        }

        .rc-tree-node-content-wrapper {
          flex: 1;
          min-width: 0;
        }
      }
    }
  }
}

.dividerDiv {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.divider {
  border-color: var(--color-divider);
  top: 50%;
  margin: auto;
  position: relative;
}

.box {
  flex-shrink: 0;

  .keyword {
    flex: 0 0 auto;
    padding-right: 5;
  }
}

.textBox {
  max-width: 320px;
  height: 22px;
  justify-content: center;
  display: flex;
  align-items: center;

  .text {
    font-size: 12px;
    font-weight: 400;
  }
}

.space {
  :global {
    .ant-space-item {
      display: flex;
    }
  }
}

.executions .timeline {
  .box {
    border: 1px solid #eaedf1;
    border-radius: 8px;
    width: 80%;
    height: 74px;
    display: flex;
    flex-direction: column;
    padding: 16px;

    :global {
      .ant-typography {
        font-size: 14px;
      }
    }

    .loader {
      font-size: 14px;
      height: 72px;
      align-content: center;
    }
  }

  .selected {
    --bg: #f2f8ff;
    background-color: var(--bg);
    border: 1px solid #0079ff;

    * {
      color: black;
    }

    @supports (color: contrast-color(red)) {
      * {
        color: contrast-color(var(--bg));
      }
    }
  }
}
