.dataContainer {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
    color: #000000a6;
  }
}

.description {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #000000d9;

  @media (max-width: 1500px) {
    font-size: 14px;
  }
}

.percentContainer {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  .percentDescription {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
