.statistic-card {
  border-radius: 8px;
  text-align: center;
  padding: 24px;

  &-title {
    font-size: 14px;
    font-weight: 500;
  }

  &-light {
    background: white;
    // background: linear-gradient(135deg, rgb(255 255 255) 0%, rgb(228 243 255) 100%);
    border: 1px solid #eee;
    // box-shadow: 0px 0px 50px 0px #dcf2f4;
  }
  &-dark {
    background: rgb(20, 20, 20);
  }
}