.overview {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 12px;
  margin-bottom: 19px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  .left {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

@container main-column (max-width: 759px) {
  .overview > div {
    padding: 12px 10px;

    :global(.ant-avatar) {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
}

@container main-column (max-width: 619px) {
  .overview {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
